@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
}
header h1 {
  margin-top: 7%;
  font-size: 5rem;
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
  color: #ffffff;
}

h1 span {
  color: #d87606;
  font-size:1.20em;
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

h1{
  font-size: 1.5em;
}

.wrapper{
  width: 100%;
  margin-top: 7%;
  margin-bottom: 7%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.custom span{
  color: #d87606;
  font-size:1.5em;
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	}

  .custom{
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    color:#dddbdb;
    font-size:1.5em;
  }

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: white;
  background: #d87606;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 100%;
  padding: 1rem;
  width: 4rem;
  border-radius: 16px;
  margin-left: 5px;
}
form button:hover {
  background: #f7fffe;
  color: #d87606;
}
.todo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;

  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 16px;
  color: #d87606;
}
.filter-todo {
  font-size: 100%;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 16px;
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn, .inprogress-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 16px;
  margin-left: 0.5rem;
}
.complete-btn {
  background: rgb(10, 170, 82);
}

.inprogress-btn {
  background: #3072d4;
  padding: 1.0rem !important;
  font-size: 1rem;
}

.todo-input{
  font-size: 100%;
  padding: 1rem;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 16px;
  color: #d87606;
}


.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.fa-hourglass-start {
  pointer-events: none;
}

.trash-btn:hover{
  background: white;
  color: #ff6f47;

}

.complete-btn:hover{
  background: white;
  color: rgb(10, 170, 82);

}

.inprogress-btn:hover{
  background: white;
  color: #3072d4;

}

.inprogress-btn:active, .fas .fa-hourglass-start {
  background: #dddbdb;
  
}

.inprogress-btn:active::after{
  color: black;
  background: #dddbdb;

}

.inprogress-btn:focus{
  color: black;
  background: #dddbdb;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: rgb(10, 170, 82);
}


/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #d87606;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  border-radius: 16px;
}
/* Arrow */
.select::after {
  content: "\25BC";
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #d87606;
  cursor: pointer;
  pointer-events: none;
  border-radius: 16px;
}
/* Transition */

.select:hover::after {
  background: white;
  color: #d87606;
}

@media only screen and (max-width: 768px) {
  Col {
    width: 100% !important;
  }
}


